body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: sticky;
    top:0%;
    background-color: black;
    color: aliceblue;
    padding: 1px;
}
.nav-container{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    display: block;
}
.image-main{
    padding: 0px 16vw;
}
.img-wdget{
    position: relative;
    width: 80%;
    bottom:41px;
    left: 10%;
    display: flex;
    justify-content: space-between;
}
.img-wdget div{
    width:20%;
    height: 60px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.below-img{
    display: flex;
    padding: 3px;
}
.notice-img ul{
    height: 175px;
    overflow-y: scroll;
}
.notice-img ul::-webkit-scrollbar {
    display: none;
  }
.research-home{
    padding: 5px;
    background-color: darkgray;
    height: 225px;
}
.res-container{
    display: flex;
    justify-content: space-evenly;
}
.gallery{
    height: 400px;
    background-color: aqua;
}

.footer{
    color: aliceblue;
    background-color: darkred;
    padding:5px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    color: maroon;
    text-align: center;
}
.notice-page-body{
    padding: 3% 3%;
}
.notice-body{
    border-radius: 6px;
    border: 2px solid black;
    padding: 0% 4%;
}
.notice-card{
    background-color: rgb(227, 233, 238);
}
.announ-body{
    border-radius: 6px;
    border: 2px solid black;
    padding: 0% 4%;
    overflow-y: scroll;
    height: 600px;
}
.announ-body::-webkit-scrollbar {
    display: none;
  }
.opp{
    display: none;
}
nav:hover{
    height: 20px;
}
.nav-home{
    width: 150px;
}

.nav-home a{
    color: wheat;
    cursor: pointer;
    text-decoration: none;
}

.nav-home:hover .opp{
    border: 2px solid black;
    display: block;
    background-color: aliceblue;
    color: black;
}


